# Archivos binarios y de compilación
bin/
obj/

# Configuración de Visual Studio
.vs/

# Archivos de usuario
*.user
*.suo
*.csproj.user

# Caché y temporales
*.log
*.cache

# Configuración local
appsettings*.json
secrets.json

# Otros
node_modules/"AppData/" 
